name = "VIDA"
uuid = "4096cdfb-f084-40a3-b02d-1a2a54920cb8"
authors = ["Paul Tiede <ptiede91@gmail.com>"]
version = "0.11.0"

[deps]
AxisKeys = "94b1ba4f-4ee9-5380-92f1-94cde586c3c5"
ComradeBase = "6d8c423b-a35f-4ef1-850c-862fe21f82c4"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
Distributions = "31c24e10-a181-5473-b8eb-7969acd0382f"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FITSIO = "525bcba6-941b-5504-bd06-fd0dc1a4d2eb"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
HypercubeTransform = "9ec9aee3-0fd3-44c2-8e61-a50acc66f3c8"
ImageFiltering = "6a3955dd-da59-5b1f-98d4-e7296123deb5"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
LaTeXStrings = "b964fa9f-0449-5b57-a5c2-d3ea65f4040f"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Measures = "442fdcdd-2543-5da2-b0f3-8c86c306513e"
Optimization = "7f7a1694-90dd-40f0-9382-eb1efda571ba"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Reexport = "189a3867-3050-52da-a836-e630ba90ab69"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"
VLBISkyModels = "d6343c73-7174-4e0f-bb64-562643efbeca"

[weakdeps]
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"

[extensions]
VIDAPlotsExt = "Plots"


[compat]
DocStringExtensions = "0.8, 0.9"
FITSIO = "0.14, 0.15, 0.16, 0.17"
HDF5 = "0.14, 0.15, 0.16"
ImageFiltering = "0.6, 0.7"
Interpolations = "0.12, 0.13, 0.14"
LaTeXStrings = "1.1"
Measures = "0.3"
Optimization = "3"
Plots = "1"
RecipesBase = "1.0"
Requires = "1.1"
SpecialFunctions = "0.10, 1.0, 2"
julia = "1.6"

[extras]
Plots = "91a5bcdd-55d7-5caf-9e0b-520d859cae80"
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Plots", "Test"]
