name = "VIDA"
uuid = "4096cdfb-f084-40a3-b02d-1a2a54920cb8"
authors = ["Paul Tiede <ptiede91@gmail.com>"]
version = "0.8.1"

[deps]
BlackBoxOptim = "a134a8b2-14d6-55f6-9291-3336d3ab0209"
CMAEvolutionStrategy = "8d3b24bd-414e-49e0-94fb-163cc3a3e411"
DataFrames = "a93c6f00-e57d-5684-b7b6-d8193f3e46c0"
Distributed = "8ba89e20-285c-5b6f-9357-94700520ee1b"
DocStringExtensions = "ffbed154-4ef7-542d-bbb7-c09d3a79fcae"
FITSIO = "525bcba6-941b-5504-bd06-fd0dc1a4d2eb"
HDF5 = "f67ccb44-e63f-5c2f-98bd-6dc0ccc4ba2f"
ImageFiltering = "6a3955dd-da59-5b1f-98d4-e7296123deb5"
Interpolations = "a98d9a8b-a2ab-59e6-89dd-64a1c18fca59"
LaTeXStrings = "b964fa9f-0449-5b57-a5c2-d3ea65f4040f"
LinearAlgebra = "37e2e46d-f89d-539d-b4ee-838fcccc9c8e"
Measures = "442fdcdd-2543-5da2-b0f3-8c86c306513e"
Optim = "429524aa-4258-5aef-a3af-852621145aeb"
Parameters = "d96e819e-fc66-5662-9728-84c9c7592b0a"
Random = "9a3f8284-a2c9-5f02-9a11-845980a1fd5c"
RecipesBase = "3cdcf5f2-1ef4-517c-9805-6587b60abb01"
Requires = "ae029012-a4dd-5104-9daa-d747884805df"
SpecialFunctions = "276daf66-3868-5448-9aa4-cd146d93841b"

[compat]
BlackBoxOptim = "0.5"
CMAEvolutionStrategy = "0.1"
DataFrames = "0.19, 0.20, 0.21, 0.22"
DocStringExtensions = "0.8"
FITSIO = "0.14, 0.15, 0.16"
HDF5 = "0.14, 0.15"
ImageFiltering = "0.6"
Interpolations = "0.12, 0.13"
LaTeXStrings = "1.1"
Measures = "0.3"
Optim = "0.20, 0.21, 0.22, 1.0, 1.1, 1.2"
Parameters = "0.12"
RecipesBase = "1.0"
Requires = "1.1"
SpecialFunctions = "0.10, 1.0"
julia = "1.4,1.5,1.6"

[extras]
Test = "8dfed614-e22c-5e08-85e1-65c5234f0b40"

[targets]
test = ["Test"]
